html, body{
    font-size: 100%;
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: "Nunito Sans", sans-serif;
	background:#ffffff;
	margin: 0;
	position: relative;
}
p,ul li,ol li{
	margin:0;
	font-size:15px;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	/*font-family: 'Cairo', sans-serif;*/
	font-family: "Nunito Sans", sans-serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"], a{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
img{
	width:100%;
}
h1 a.navbar-brand {
    color: #eee !important;
    height: inherit;
    font-size: 25px;
    text-transform: uppercase;
    -webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in; 
	transition:.5s ease-in;
}
nav.navbar.navbar-default.navbar-fixed-top {
    background:rgba(0, 0, 0, 0.5);
    /*background: rgba(0, 0, 0, 0.8);*/
    border: none;
    padding: .6em 8em;
}
.navbar-default .navbar-nav > li > a {
    color: #eee;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
    display: block;
    background-color: #3977AD;
}
.navbar-default .navbar-nav > li > a:active {
	color: #eee;
    display: block;
    background-color: #3977AD;
}
.banner{
	background: url(https://static.pexels.com/photos/257937/pexels-photo-257937.jpeg) no-repeat 0px 0px;
	background-color: #fff;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 650px;
    position: relative;
}
.more-icon{
	display: block;
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin: 2em;
}
.more-icon:hover{
	color: #aaa;
}
.layer {
    /*background: url(../images/dott.png)repeat 0px 0px;*/
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 520px;
    padding: 1em 0;
}
.banner-info{
	margin: 13em 0 0em 40em;
    width: 450px;
    padding: 10px;
}
.banner-info h2{
	font-size: 3.5em;
    color: #ffffff;
    line-height: 1.1em;
    font-weight: 900;
    text-shadow: 3px 3px #3977AD;
}
.banner-info p{
	margin: 1.5em 0 1.5em;
    color: #000;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 14px;
}
.about{
	padding: 0 0 0 5em;
	margin-bottom: 3em;
}
.about h2{
	/*text-align: center;*/
	margin-left: 2em;
	margin-top: 80px;
	font-size: 2.5em;
}
.about h3{
    text-align: left;
    font-size: 1.5em;
    margin-top: 5em;
    text-transform: uppercase;
    margin-bottom: 30px;
    outline-offset: 12px;
    outline: 7px double #ff4f81;
    outline-offset: 6px;
    width: 22%;
	color: #146eb4;
    margin-left: 0.3em;
    font-weight: 800;
    text-align: center;
}
.about p{
	line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 1em 2em 0 0;
}
.experience{
	background-color: rgba(0,0,0,0.05);
	padding: 0 0 5em 0;
	/*margin-bottom: 3em;*/
}
.experience h2{
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 2.5em;
	text-align: center;
}
.experience h3{
	color: #fff;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.experience p{
	color: #222;
	line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 1em 0;	
}
.experience .exp-box-edu{
	background-image: url(https://images.pexels.com/photos/159621/open-book-library-education-read-159621.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-color: #fff;
	min-height: 520px;
	/*padding: 0.5em 0;*/
}
.experience .exp-box-work{
	background-image: url(https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-color: #fff;
	min-height: 520px;
	/*padding: 0.5em 0;*/
}

.research{
    background: url(https://static.pexels.com/photos/7350/startup-photos.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 650px;
}
.research h2{
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
	/*font-weight: 800;*/
}
.research-item{
	background-color: rgba(255,255,255,0.1);
	margin: 20px;
}
.research h4{
	color: #fff;
	font-size: 1.5em;
	margin: 0.5em 0;
	font-weight: 600;
}
.research p{
	color: #fff;
	line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 1em 0;	
}
.research-img{
	width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px auto;
    position: relative;
}
.research-img img{
	position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.projects{
	margin-bottom: 3em;
}
.projects h2{
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 2.5em;
	text-align: center;
}
.projects h4{
	margin: 0.5em 0;
	font-size: 1.5em;
	color: #222;
}
.projects p{
	color: #222;
	line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
    margin: 1em 0;	
}

.contact{
	margin-bottom: 3em;
}
.contact h2{
	margin-top: 80px;
	margin-bottom: 30px;
	font-size: 2.5em;
	text-align: center;
}
.contact h4{
	color: #000;
	text-align: center;
}
.contact p{
	text-align: center;
	line-height: 28px;
	letter-spacing: 0.5px;
	font-size: 14px;

}
.contact p:first-child{
	margin: 1em;
}
.contact-icons{
	display: block;
	text-align: center;
	margin: 1em 0 2em;
}

.map-responsive{
    overflow:hidden;
    /*padding-bottom:50%;*/
    position:relative;
    height:400px;
    border: none;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:400px;
    width:100%;
    position:absolute;
}
